@import '../../styles/partials/_mixins.scss';
@import '../../styles/partials/_variables';

.projects {
   display:flex;
   flex-direction: column;
    margin: calc($mobile-margin/2);



    &--wrapper {
        @include card;
        margin: calc($mobile-margin/2);
        height: 300px;
        width: calc(100% - $mobile-margin);
        // @include card-wrap;
    }

    &__saicheese {
        @include project-card;
        
        &--img {
            @include project-image;
            background-image: url('../../assets/images/saicheese-small.jpg');

            @include tablet {
                background-image: url('../../assets/images/saicheese-small.jpg');
            }
        }
    }

    &__industry {
        @include project-card;

        &--img{
            @include project-image;
            background-image: url('../../assets/images/industry.jpg');
        }
    }

    &__science{
        @include project-card;

        &--img{
            @include project-image;
            background-image: url('../../assets/images/dscience2.jpg');
        }
    }
}