@import '../../styles/partials/_mixins.scss';
@import '../../styles/partials/_variables';

.menu {
    position: absolute;
    top: 20px; /* Adjust as necessary */
    right: 20px; /* Adjust as necessary */
    display: inline-block;
  
    &__button {
      background-color: transparent;
      color: inherit;
      padding: 10px 15px;
      font-size: 20px;
      border: none;
      cursor: pointer;
    }
  
    &__dropdown {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: white;
      min-width: 160px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
  
      &--open {
        display: block;
      }
    }
  
    &__item {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  
      &:hover {
        background-color: #ddd;
      }
    }
  }
  