@use "./variables" as *;

@mixin small {
  @media (max-width: $small-width) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin card-wrap {
  display: flex;
  background-image: linear-gradient(to top right, $dark-teal , $dark-teal, $light-teal, $gray);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%)
}

@mixin card {
  display: flex;
  background-image: linear-gradient(to top right, $dark-teal , $light-teal);
  border-radius: 10px;
  width: 100%
}

@mixin project-card {
  align-items: center;
  flex-direction: column;
  margin: 2px;
  height: 100%;
  width: 50%;
}

@mixin project-image {
  display: flex;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}