@import '../../styles/partials/_mixins.scss';
@import '../../styles/partials/_variables';

// header__contact__github

li {
    padding: 0 $mobile-margin;
}

.hero {
    @include card-wrap;
    margin: calc($mobile-margin/2);

    &__content {
        @include card;
        flex-direction: row;
        margin: 2px;


        &__text {
            display: flex;
            flex-direction: column;
        }

        &__headshot {
            width: 200px;
            border-radius: 10px;
            margin: calc($mobile-margin/2);
        }

        &__contact {

            &--list {
                display: flex;

            }

            &__github {

                &--svg {
                    height: 16px;
                }
            }

            &__linkedin {

                &--svg {
                    height: 16px;
                }
            }

        }
    }
}