@import '../../styles/partials/_mixins.scss';
@import '../../styles/partials/_variables';

// header__contact__github

li{
padding: 0 $mobile-margin;
}

button{
    background: rgba(0,0,0,0);
    border: none;
    color: $light-orange;
    cursor: pointer;
}

.header{

    &__contact{

        display:flex;
        

        &--list{
            display:flex;

        }

        &__github{

            &--svg{
                height: 16px;
            }
        }
        &__linkedin{

            &--svg{
                height: 16px;
            }
        }

    }
}