@import '../../styles/partials/_mixins.scss';
@import '../../styles/partials/_variables';

// header__contact__github

li{
padding: 0 $mobile-margin;
}

button{
    background: rgba(0,0,0,0);
    border: none;
    color: $light-orange;
    cursor: pointer;
}

.header{   
    @include card-wrap;
    margin: calc($mobile-margin/2);
    background-color: aqua;
    height: 64px;

    &__contact{
        @include card;
    
        margin:2px;
        display:flex;
        height: 60px;
        //width: calc(100% - 4px);

        &--list{
            display:flex;

        }

        &__github{

            &--svg{
                height: 16px;
            }
        }
        &__linkedin{

            &--svg{
                height: 16px;
            }
        }

    }
}